:root {
  --background-color: #36013f; /* Change this to your preferred background color */
  --text-color: white; /* Change this to your preferred text color */
  --accent-color: #1f1137; /* Change this to your preferred accent color */
}
